 <% if(typeof errors != 'undefined') { %>
    <% errors.forEach(err => { %>
        
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= err.msg %>
          </div>
    <% }) %>
<% } %>

<% if(typeof success_msg != '') { %>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= success_msg %>
        </div>
<% } %>

<% if(typeof errors_msg != '') { %>   
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= errors_msg %>
      </div>
<% } %>

<% if(typeof error != '') { %>   
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= error %>
      </div>
<% } %>